/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

/* || general styles */
*,*::before,*::after {
  box-sizing: border-box;
}
a {

  font-size: 2em;
  text-decoration: none;
  color: black;
  font-family: 'Cairo', sans-serif;

}

body {
  position: relative;
 
  display: flex;
  max-width: 23.4375rem;
  min-height: 50rem;
  border-radius: 12px;
  display: flex;
  flex-flow: column wrap;
}

a.visited {
  color: black;
  text-decoration: none;
}

/* volunteer card style */

.volunteer-card {
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: 'Cairo', sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  align-content: center;
  border-bottom-right-radius: .75rem;
  border-bottom-left-radius: .75rem;
  text-align: center;
  transition: 500ms;


}

.volunteer-card.active,
.view-profile.active
  {
  visibility: visible;
  opacity: 1;
}

.volunteer-card.disabled,
.view-profile.disabled,
.volunteer-certificate {

  visibility: hidden;
  opacity: 0;
}


.volunteer-card h1 {
  font-size: 1.5rem;
}

.volunteer-card .volunteer-image {
  width: 100%;
  height: 50%;
  position: relative;

}

.volunteer-card img {

  height: 100%;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.volunteer-info {
  height: 30%;
}

.view-profile {
  height: 20%;
  width: 100%;
  background: rgba(0, 128, 79, 0.76);
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}

.view-profile:hover {
  cursor: pointer;
}

.view-profile h1 {
  font-size: 2rem;
  color: white;
}

/* volunteer profile style */

.volunteer-profile {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: .5rem;
  font-family: 'Cairo', sans-serif;
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
  align-content: center;
  border-bottom-right-radius: .75rem;
  border-bottom-left-radius: .75rem;
  text-align: right;

}

.volunteer-profile.disabled {
  visibility: hidden;
}

.programs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* volunteer certificate */

.volunteer-certificate {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  font-family: 'Cairo', sans-serif;
  border-radius: .75rem;
}

.volunteer-certificate.disabled {
  display: none;
}

.volunteer-certificate .title,
.volunteer-profile .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 128, 79, 0.76);
  height: 20%;
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
  font-size: 2em;
  color: white;
}

.volunteer-certificate .certificates {
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  overflow: scroll;
  align-items: center;
  justify-content: flex-start;
 align-content: space-around;
 width: 100%;
 margin: 10px auto;
}

.volunteer-certificate .certificate {
 
  padding: .25rem;
}



.volunteer-certificate svg g {
  fill: darkcyan;
}


.volunteer-certificate h1 {
  font-size: 1em;
}

.volunteer-certificate.active {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  align-content: flex-start;
  visibility: visible;
  opacity: 1;
  height: 100%;
}

